sudo: false
language: ruby
cache: bundler
rvm:
- 2.4.2

install:
  # Install Jekyll and dependencies
  - bundle install

script: bundle exec rake site:deploy --quiet #--trace

# Generate your secure token with the travis gem:
# get Github token from your Travis CI profile page
# gem install travis
# GH_TOKEN from https://github.com/settings/tokens
# travis encrypt 'GIT_NAME="YOUR_USERNAME" GIT_EMAIL="YOUR_EMAIL" GH_TOKEN=YOUR_TOKEN'
env:
  global:
    secure: "EdE0Av0Gov2k5+FaJZZD6EWrhcipre+jbD6r3Mc36Tim5uy+dtyMJGAmj+pb41n26EPUxFF20QpC+9f7oxK4WAqAhrokIXQf1WEjvVg0+OZoLjV+4fuXG1pJBvvK1m3JIDZR0iRhzJ8TdpzwyCNgKa01SM/fkBwoKOxYokX5sQ+aGWzi+gN1xlDxXOnWzydAiL0YGVlnarj4jJ3thUzsTrOqujSU6VD4Qu2SySDB9yeR0HtEInJagCuvV1ktUoWutBInCXKB6yOgo4pBDViRhx9q2+HofzL4bpGWAzOvxB0BdRzr0ixb3+VTYZyJwF9fS3BbD1TEHfgW4HcpsaebsYq7qZZXmG8VrAI7F6IAuuUHh4w0xXv56giZHp1Jkbl3+yFNpJko2TOUf/rjYb8Q6KgnbeCHk134W9d/6fSNJHAd/HMIQPzy4zK0L859GjMim3FWioiOoUEfk9IcpNS2M/xRWjFvXb5vDdtxlXDuj1QasbYv4b+WiUxriisL0tyBID6EosI/CVgktdgmOvSFO2/WsTIxPYLoIh+xEBLjcBYxvJrmXuRNgKJEh5r99hSFLRQsMrHhJchCFqpahCjDOnDQ4/KWknYKcEwXmyeB7sDUARgh4dvItyWpZSAQKsp4GZgZhj5Jvanz5wEQQjOzCqTlI+Jlk/1tLcwFwUaPtaQ="
branches:
  only:
    - master
   
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: public
  github_token: aaf460649376a0f8e51d36d321d9e2009ce860de # Set in travis-ci.org dashboard
  on:
    branch: master
  repo: iServ-fr/jasper2
  target_branch: master
  fqdn: www.iserv.fr
