# Jekyll configuration
markdown: kramdown
highlighter: rouge
paginate: 50 # it will paginate after this number
language: 'fr-fr'

# edit baseurl to simply '/' if using as your personal page (instead of a project page)
baseurl: /jasper2/

# Website info
title: iServ
description: Un blog Tech pour parler des découvertes, expériences, humeurs du moment autour du web et des technologies qui caractérisent ce serveur.
cover: assets/images/2018/02/iMacProWallpaper.jpg
logo: assets/images/2018/02/iServ_w-1.png
logo_dark: assets/images/2017/11/iServ.png
favicon: assets/images/2017/11/iServ_square_ublue.png
production_url: https://iserv-fr.github.io/jasper2/
source_url: https://github.com/iServ-fr/jasper2/

# Social info
navigation: True # show the navbar links
subscribers: False # you need to connect an external service for this to work,
# if 'True' the submit button is disabled for now, but you can change that
# by editing `_includes/subscribe-form.html`
twitter: iservblog # replace by your username
facebook: false # replace by your username

# Disqus
disqus: False
disqus_shortname: jekyller # replace with your disqus username

# Google Analytics
google_analytics: UA-120160977-1 # replace with your GA tracking identifier

# Permalinks
permalink: /:title
# permalink: /author/:author
# permalink: /tag/:tag

# Authors' info in `_data/authors.yml`
# Tags' info in `_data/tags_info.yml`

# gems and other configs
plugins: [jekyll-paginate, jekyll-feed]

feed:
  path: feed.xml

# Additional settings available on the front-matter
# Site logo in the index.html (as in demo.ghost.io)
# Author's page cover in _layouts/author.html
# The same for page.html and tag.html layouts
# Post's page cover as a per-post basis _posts/...
# Disqus comments as a per-post basis
# ...

# Settings for builing master branch with travis-ci
# with jekyll-travis

# Settings for deploy rake task
# Username and repo of Github repo, e.g.
# https://github.com/USERNAME/REPO.git
# username defaults to ENV['GIT_NAME'] used by Travis
# repo defaults to USERNAME.github.io
# Branch defaults to "source" for USERNAME.github.io
# or "master" otherwise
safe: False
lsi: False
username: iServ-fr
repo: jasper2
branch: master
relative_source: ../jasper2/
destination: ../jasper2-pages/
production_url:  https://iserv-fr.github.io/jasper2/
source_url:  https://github.com/iServ-fr/jasper2/

exclude:
  - assets/css
  - node_modules
  - vendor
  - .travis.yml
  - Gemfile
  - Gemfile.lock
  - GHOST.txt
  - gulpfile.js
  - LICENSE
  - package.json
  - Rakefile
  - README.md
  - script.py
  - changelog.md
  - "*.Rmd"
  - .git*
